@model Aula_Virtual.Models.clases

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h2>Detalles</h2>

    <div>
        <h4>Clases</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.codigo }) |
        @Html.ActionLink("Inicio", "Index")
    </p>
    </div>