
@{
    ViewBag.Title = "Asiganturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asiganturas</h2>

<div class="wrapper">
    <!--header menu start-->
  
    <!--header menu end-->

    <!--main container start-->
    <div class="main-container">
        <div class="card">
            <p>
                <h1><center>Asignaturas de Curso</center></h1>
            <p>
        </div>

        <!--SECCION DE ASIGNATURAS-->
        <!--image card layout start-->
        <div class="container">
            <!--image row start-->
            <div class="row">
                <!--image card start-->
                <div class="image">
                    <img src="~/Content/Imagenes/avatar.png" alt="">
                    <div class="details">
                        <h2><span>Programacion 2</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="more">
                            <a href="Progra2.html" class="read-more">Entrar<span></span></a>
                            <div class="icon-links">
                                <a href="#"><i class="fas fa-heart"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-paperclip"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--image card end-->
                <!--image card start-->
                <div class="image">
                    <img src="~/Content/Imagenes/Fondo.jpg" alt="">
                    <div class="details">
                        <h2><span>Matematicas 4</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="more">
                            <a href="Matematicas4.html" class="read-more">Entrar<span></span></a>
                            <div class="icon-links">
                                <a href="#"><i class="fas fa-heart"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-paperclip"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--image card end-->
                <!--image card start-->
                <div class="image">
                    <img src="~/Content/Imagenes/Fondo%202.jpg" alt="">
                    <div class="details">
                        <h2><span>Desarrollo Web</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="more">
                            <a href="DesarrolloWeb.html" class="read-more">Entrar<span></span></a>
                            <div class="icon-links">
                                <a href="#"><i class="fas fa-heart"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-paperclip"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--image card end-->
            </div>
            <!--image row end-->
            <!--image row start-->
            <div class="row">
                <!--image card start-->
                <div class="image">
                    <img src="Imagenes/avatar.png" alt="">
                    <div class="details">
                        <h2><span>Filosofia</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="more">
                            <a href="Filosofia.html" class="read-more">Entrar<span></span></a>
                            <div class="icon-links">
                                <a href="#"><i class="fas fa-heart"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-paperclip"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--image card end-->
                <!--image card start-->
                <div class="image">
                    <img src="~/Content/Imagenes/Fondo.jpg" alt="">
                    <div class="details">
                        <h2><span>Fisica 2</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="more">
                            <a href="Fisica2.html" class="read-more">Entrar<span></span></a>
                            <div class="icon-links">
                                <a href="#"><i class="fas fa-heart"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-paperclip"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--image card end-->
                <!--image card start-->
                <div class="image">
                    <img src="Imagenes/Fondo%202.jpg" alt="">
                    <div class="details">
                        <h2><span>Practica Fisica 2</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="more">
                            <a href="PracticaFisica2.html" class="read-more"><span>Entrar</span></a>
                            <div class="icon-links">
                                <a href="#"><i class="fas fa-heart"></i></a>
                                <a href="#"><i class="fas fa-eye"></i></a>
                                <a href="#"><i class="fas fa-paperclip"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--image card end-->
            </div>
            <!--image row end-->
        </div>
        <!--image card layout end-->
    </div>
    <!--main container end-->
</div>





<!--wrapper end-->
<script type="text/javascript">
        $(document).ready(function() {
            $(".sidebar-btn").click(function() {
                $(".wrapper").toggleClass("collapse");
            });
        });

</script>



